body {
    background-color: #56ADBA;
    
}

#header {
    height: 200px;
    width: 1900px;

}

#truth {
    max-width: 1900px;
    max-height: 250px;
}

#inspired {
    position: center;
    max-width: 500px;
    margin-left: 715px;
}

a  {
    color: #F0D75B;   
}

.photo {
    width: 250px;
    height: 250px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 15vw);  
}

.footer {
    display: flexbox;
    flex-direction: row;
}
